@model EditarQuestaoViewModel

@{
    ViewBag.Titulo = "Edição de Questão";
    var alternativasOrdenadasPorLetra = Model.AlternativasSelecionadas.OrderBy(a => a.Letra).ToList();
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Editar" asp-route-id="@Model.Id" method="post">
                    <h3 class="mb-4">Edição de Questão</h3>

                    @if (ViewData.ModelState["CadastroUnico"]?.Errors.Count > 0)
                    {
                        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                            @ViewData.ModelState["CadastroUnico"]!.Errors.First().ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Enunciado" class="control-label fs-5">Enunciado:</label>
                        <input asp-for="Enunciado" class="form-control" type="text" />
                        <span asp-validation-for="Enunciado" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-4">
                        <label asp-for="MateriaId" class="control-label fs-5">Matéria:</label>
                        <select asp-for="MateriaId" asp-items="Model.MateriasDisponiveis" class="form-select"></select>
                        <span asp-validation-for="MateriaId" class="text-danger"></span>
                    </div>

                    <hr class="my-3" />

                    <h4>Alternativas</h4>

                    <div class="row align-items-end g-3 mt-3">
                        <div class="col">
                            <label for="Resposta" class="form-label">Resposta:</label>

                            <div class="d-flex gap-2 align-items-center">
                                <input type="text" name="Resposta" class="form-control" />

                                <span class="d-flex gap-2">
                                    @Html.CheckBox("Correta", false, new { @class = "form-check-input" })
                                    <label for="Correta" class="form-check-label">Correta</label>
                                </span>
                            </div>

                        </div>
                        <div class="col-md-2 d-flex align-items-end">
                            <button class="btn btn-outline-primary w-100"
                                    type="submit"
                                    formaction="/questoes/editar/@Model.Id/adicionar-alternativa">
                                Adicionar
                            </button>
                        </div>
                    </div>

                    @for (int i = 0; i < alternativasOrdenadasPorLetra.Count; i++)
                    {
                        <input type="hidden" asp-for="AlternativasSelecionadas[@i].Letra" />
                        <input type="hidden" asp-for="AlternativasSelecionadas[@i].Resposta" />
                        <input type="hidden" asp-for="AlternativasSelecionadas[@i].Correta" />
                    }

                    @if (alternativasOrdenadasPorLetra.Any())
                    {
                        <div class="table-responsive mt-4">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Letra</th>
                                        <th>Resposta</th>
                                        <th>Correta</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < alternativasOrdenadasPorLetra.Count; i++)
                                    {
                                        <tr>
                                            <td valign="middle" style="width: 75px;">
                                                @alternativasOrdenadasPorLetra[i].Letra)
                                                <input type="hidden"
                                                       name="AlternativasSelecionadas[@i].Letra"
                                                       value="@alternativasOrdenadasPorLetra[i].Letra" />
                                            </td>
                                            <td valign="middle">
                                                @alternativasOrdenadasPorLetra[i].Resposta
                                                <input type="hidden"
                                                       name="AlternativasSelecionadas[@i].Resposta"
                                                       value="@alternativasOrdenadasPorLetra[i].Resposta" />
                                            </td>
                                            <td valign="middle" style="width: 75px;">
                                                @(alternativasOrdenadasPorLetra[i].Correta ? "Sim" : "Não")
                                                <input type="hidden"
                                                       name="AlternativasSelecionadas[@i].Correta"
                                                       value="@alternativasOrdenadasPorLetra[i].Correta" />
                                            </td>
                                            <td valign="middle" align="center" style="width: 50px;">
                                                <button class="btn btn-sm btn-outline-danger rounded"
                                                        type="submit"
                                                        formaction="/questoes/editar/@Model.Id/remover-alternativa/@alternativasOrdenadasPorLetra[i].Letra">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-muted mt-4">Nenhuma alternativa adicionada.</p>
                    }

                    <hr class="my-3" />

                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a asp-action="Index">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}